* {
	margin: 0;
	padding: 0;
	outline: none;
}

/*#2bb842- grren*/

body {
	height: 1500px;
	background-color: #f7f7f7;
}

.header {
	height: 200px;
	background-color: #eeeeee;
	position: relative;
	z-index: 1;
}

.header p {
	position: absolute;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 22px;
	color: #47a9ee;
	padding-left: 210px;
	padding-top: 30px;
}

.header p span {
	color: #2bb842;
}

.nameCompany img {
	position: absolute;
	width: 80px;
	padding-left: 120px;
	padding-top: 30px;
}

.phone img {
	position: absolute;
	padding-top: 45px;
	padding-left: 640px;
}

.phone p {
	position: absolute;
	padding-top: 35px;
	padding-left: 700px;
	font-size: 18px;
}

.phone span {
	color: #2bb842;
}

.address img {
	position: absolute;
	padding-top: 45px;
	padding-left: 990px;
}

.address p {
	position: absolute;
	padding-top: 35px;
	padding-left: 1050px;
	font-size: 18px;
}

.address span {
	color: #2bb842;
}

.top_nav {
	width: 80%;
	height: 60px;
	margin: 0 auto;
	border-radius: 8px;
	top: 170px;
	position: relative;
	background-color: #47a9ee;
}

.top_nav:hover {
	border: 2px solid #2bb842;
}

.top_nav ul {
  list-style: none;
  padding-left: 100px;
  background: #47a9ee;
}

.top_nav ul a {
  text-decoration: none; 
  background: #47a9ee;
  color:#fff;
  padding:0px 25px;
  font-family: arial;
  line-height: 60px;
  display: block; 
  -moz-transition: all 0.3s 0.01s ease;
  -o-transition: all 0.3s 0.01s ease;
  -webkit-transition: all 0.3s 0.01s ease;
}

.top_nav span a {
	background-color: #2bb842;
}

.top_nav a:hover {
  background: #2bb842;
}

.top_nav li {
  float:left;
}

.header_1 img {
	width: 100%;
	position: absolute;
	border-radius: 0 0 50px 50px;
}

.header_1 h1 {
	padding-top: 60px;
	padding-left: 60px;
	position: absolute;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 80px;
	color: #fff;
	text-shadow: 2px 4px 3px rgba(0,0,0,0.3);

}

.header_1 h2 {
	position: absolute;
	font-family: 'Roboto Condensed', sans-serif;
	padding: 320px 0 0 60px;
	color: #fff;
	text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

/*___________________________________________________________content*/

/*___________________________________________________________experience*/
.experience_about {
	position: absolute;
	width: 100%;
	height: 400px;
	background-color: #eeeeee;
	top: 800px;
}

.experience_about h1 {
	text-align: center;
	font-family: 'Roboto Condensed', sans-serif;
	color: #47a9ee;
	padding-top: 30px;
}

.experience_about p {
	text-align: center;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 28px;
	color: #2bb842;
	padding-top: 100px;
}

.experience_about img {
	position: absolute;
	left: 330px;
	bottom: 180px;
}

.services_about {
	position: absolute;
	width: 100%;
	height: 400px;
	top: 1200px;
}

.services_about h1 {
	text-align: center;
	font-family: 'Roboto Condensed', sans-serif;
	color: #47a9ee;
	padding-top: 30px;
}

.services_about p {
	text-align: center;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 28px;
	color: #2bb842;
	padding-top: 50px;
}

.services_about img {
	position: absolute;
	bottom: 50px;
	left: 380px;
	border-radius: 80px;
}

.person_about {
	position: absolute;
	width: 100%;
	height: 400px;
	background-color: #eeeeee;
	top: 1600px;
}

.person_about h1 {
	text-align: center;
	font-family: 'Roboto Condensed', sans-serif;
	color: #47a9ee;
	padding-top: 30px;
}

/*___________________________________________________________equipment_info*/

.equipment_info {
	position: absolute;
	top: 700px;
	width: 100%;
	height: 1000px;
}

.equipment_info h1 {
	text-align: center;
	color: #47a9ee;
	font-family: 'Roboto Condensed', sans-serif;
	padding-bottom: 50px;
}

.block1 {
	width: 100%;
	height: 300px;
	margin-bottom: 60px;
}

.block1 img {
	width: 300px;
	float: left;
	border-radius: 8px;
	border: 1px solid #2bb842;
	margin: 0 10px 0 10px;
	transition:width 0.5s ease;
}

.block1 img:hover {
	width: 350px;
}

.block1 h2 {
	font-family: 'Roboto Condensed', sans-serif;
	color: #2bb842;
	text-align: center;
	padding-bottom: 50px;
}

.block1 h3 {
	font-family: 'Roboto Condensed', sans-serif;
	color: #47a9ee;
	text-align: justify;
	padding: 0 50px 50px 0;
}

.block1 a {
	margin-top: 30px;
	text-decoration: none;
	font-family: 'Roboto Condensed', sans-serif;
	color: #2bb842;
}

.block1 a:hover {
	text-decoration: underline;
}

.block2 {
	width: 100%;
	height: 300px;
	margin-bottom: 60px;
}

.block2 img {
	width: 300px;
	float: left;
	border-radius: 8px;
	border: 1px solid #2bb842;
	margin: 0 10px 0 10px;
	transition:width 0.5s ease;
}

.block2 img:hover {
	width: 350px;
}

.block2 h2 {
	font-family: 'Roboto Condensed', sans-serif;
	color: #2bb842;
	text-align: center;
	padding-bottom: 50px;
}

.block2 h3 {
	font-family: 'Roboto Condensed', sans-serif;
	color: #47a9ee;
	text-align: justify;
	padding: 0 50px 50px 0;
}


.block3 {
	width: 100%;
	height: 300px;
}

.block3 img {
	width: 300px;
	float: left;
	border-radius: 8px;
	border: 1px solid #2bb842;
	margin: 0 10px 0 10px;
	transition:width 0.5s ease;
}

.block3 img:hover {
	width: 350px;
}

.block3 h2 {
	font-family: 'Roboto Condensed', sans-serif;
	color: #2bb842;
	text-align: center;
	padding-bottom: 20px;
}

.block3 h3 {
	font-family: 'Roboto Condensed', sans-serif;
	color: #47a9ee;
	text-align: justify;
	padding: 0 50px 50px 0;
}
/*___________________________________________________________cont_info*/

.maps {
	position: absolute;
	width: 700px;
	left: 300px;
	top: 900px;
}

.cont_info {
	position: absolute;
	font-family: 'Roboto Condensed', sans-serif;
	color: #2bb842;
	top: 700px;
	left: 300px;
}

.cont_info p {
	padding-bottom: 5px;
}
/*___________________________________________________________news_info*/

.news_info {
	position: absolute;
	left: 80px;
	top: 700px;
	width: 1200px;
	height: 1260px;
}

.braces {
	font-family: 'Roboto Condensed', sans-serif;
	color: #2bb842;
	width: 100%;
	height: 400px;
	border: 3px solid #2bb842;
	background: #fff;
}

.braces  h3 {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 32px;
	color: #47a9ee;
	padding-left: 20px;
	background: #fff;
}

.braces ul  {
	list-style-type: square;
	padding: 40px 50px 0 40px;
	text-align: justify;
}

.brush_teeth {
	position: absolute;
	top: 420px;
	width: 100%;
	height: 400px;
	border: 3px solid  #47a9ee;
	background: #fff;
}

.brush_teeth  h3 {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 32px;
	color: #2bb842;
	padding-left: 20px;
}

.brush_teeth p {
	font-family: 'Roboto Condensed', sans-serif;
	color: 	#47a9ee;
	text-align: justify;
	padding: 40px 50px 0 40px;
}

.brush_teeth img {
	width: 95%;
	padding-left: 30px;
}

.chewin_gum {
	position: absolute;
	top: 840px;
	width: 100%;
	height: 400px;
	border: 3px solid #2bb842;
	background: #fff;
}

.chewin_gum h3 {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 32px;
	color: #47a9ee;
	padding-left: 20px;
}

.chewin_gum p {
	font-family: 'Roboto Condensed', sans-serif;
	color: #2bb842;
	padding: 20px 50px 0 40px;
	text-align: justify;
}

/*____________________________________________________________time_work*/

.time_work {
	position: absolute;
	font-family: 'Roboto Condensed', sans-serif;
	top: 700px;
	left: 80px;
	width: 1200px;
	height: 240px;
}

.cont_1 {
	position: absolute;
	width: 470px;
	height: 240px;
	border-radius: 8px;
	background: #eeeeee;
	left: 100px;
}

.cont_1 h4 {
	position: absolute;
	color: #2bb842;
	top: 80px;
	left: 110px;
}

.cont_1 .open_hours {
	position: absolute;
	color: #2bb842;
	top: 80px;
	left: 210px;
}

.cont_1 img {
	position: absolute;
	top: 30px;
	left: 110px;
}

.cont_2 {
	position: absolute;
	width: 470px;
	height: 240px;
	border-radius: 8px;
	background: #eeeeee;
	left: 620px;
}

.cont_2 img {
	position: absolute;
	top: 30px;
	left: 110px;
}

.cont_2 .cont_vert2 p {
	position: absolute;
	color: #2bb842;
	left: 110px;
	top: 80px;
}

.cont_vert {
	position: absolute;
	width: 100px;
	height: 240px;
	border-radius: 8px 0 0 8px;
	background: #47a9ee;
}

.cont_vert p {
	position: absolute;
	top: 100px;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 23px;
	color: 	#ffffff;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);

}

/*___________________________________________________________why_my*/

.why_my {
	position: absolute;
	width: 100%;
	height: 400px;
	top: 1000px;
	background: #eeeeee;
}

.why_my p {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 44px;
	color: #47a9ee;
	text-align: center;
}

.easy_booking {
	position: absolute;
	top: 130px;
	left: 50px;
	width: 450px;
	height: 200px;
}

.easy_booking img {
	position: absolute;
	top: 30px;
}

.easy_booking h2 {
	position: absolute;
	font-family: 'Roboto Condensed', sans-serif;
	color: #2bb842;
	top: 20px;
	left: 80px;
}

.easy_booking p {
	position: absolute;
	font-size: 18px;
	top: 60px;
	left: 80px;
}

.experience {
	position: absolute;
	top: 130px;
	left: 470px;
	width: 400px;
	height: 200px;
}

.experience img {
	position: absolute;
	top: 30px;
}

.experience h2 {
	position: absolute;
	font-family: 'Roboto Condensed', sans-serif;
	color: #2bb842;
	top: 20px;
	left: 80px;
}

.experience p {
	position: absolute;
	font-size: 18px;
	top: 60px;
	left: 80px;
}

.price {
	position: absolute;
	top: 130px;
	left: 890px;
	width: 400px;
	height: 200px;
}

.price img {
	position: absolute;
	top: 30px;
}

.price h2 {
	position: absolute;
	font-family: 'Roboto Condensed', sans-serif;
	color: #2bb842;
	top: 20px;
	left: 80px;
}

.price p {
	position: absolute;
	font-size: 18px;
	top: 60px;
	left: 80px;
}

/*___________________________________________________________our_services*/

.our_services {
	position: absolute;
	width: 100%;
	height: 600px;
	top: 1500px;
}

.our_services h2 {
	font-family: 'Roboto Condensed', sans-serif;
	padding-top: 20px;
	font-size: 44px;
	color: #2bb842;
	text-align: center;
}

.our_services p {
	font-family: 'Roboto Condensed', sans-serif;
	padding-top: 30px;
	font-size: 20px;
	color: 	#47a9ee;
	text-align: center;
}
.gigiena_serv {
	position: absolute;
	bottom: 100px;
	left: 60px;
	width: 300px;
	height: 300px;
}

.gigiena_serv .link_serv_gig {
	position: absolute;
	bottom: 30px;
	left: 160px;
	width: 200px;
	height: 50px;
	background: #2bb842;
	border-radius: 8px;
}

.link_serv_gig p {
	position: absolute;
	top: -20px;
	left: 20px;
	font-family: 'Roboto Condensed', sans-serif;
	color: #fff;
	font-size: 18px;
}

.gigiena_serv .link_serv_gig:hover {
	background: #47a9ee;
	left: 180px;
}

.gigiena_serv img {
	width: 350px;
	height: 300px;
	border-radius: 10px;
}

.protez_serv {
	position: absolute;
	bottom: 100px;
	left: 510px;
	width: 300px;
	height: 300px;
}

.protez_serv .link_serv_prot {
	position: absolute;
	bottom: 30px;
	left: 160px;
	width: 200px;
	height: 50px;
	background: #2bb842;
	border-radius: 8px;
}

.link_serv_prot p {
	position: absolute;
	top: -20px;
	left: 20px;
	font-family: 'Roboto Condensed', sans-serif;
	color: #fff;
	font-size: 18px;
}

.protez_serv .link_serv_prot:hover {
	background: #47a9ee;
	left: 180px;
}

.protez_serv img {
	width: 350px;
	height: 300px;
	border-radius: 10px;
}

.terap_serv {
	position: absolute;
	bottom: 100px;
	left: 960px;
	width: 300px;
	height: 300px;
}

.terap_serv .link_serv_terap {
	position: absolute;
	bottom: 30px;
	left: 160px;
	width: 200px;
	height: 50px;
	background: #2bb842;
	border-radius: 8px;
}

.link_serv_terap p {
	position: absolute;
	top: -20px;
	left: 20px;
	font-family: 'Roboto Condensed', sans-serif;
	color: #fff;
	font-size: 18px;
}

.terap_serv .link_serv_terap:hover {
	background: #47a9ee;
	left: 180px;
}

.terap_serv img {
	width: 350px;
	height: 300px;
	border-radius: 10px;
}

.all_serv {
	position: absolute;
	top: 530px;
	left: 590px;
	width: 200px;
	height: 50px;
	border-radius: 8px;
	background: #2bb842;
}

.all_serv p {
	position: absolute;
	bottom: 10px;
	left: 50px;
	font-family: 'Roboto Condensed', sans-serif;
	color: #fff;
}

.all_serv:hover {
	background: #47a9ee;
}

/*___________________________________________________________slider*/

.slider_ing {
	position: absolute;
	opacity: 0.5;
	width: 1000;
	height: 786px;
	top: 2200px;
	left: 180px;
	margin-top: 50px;
}

.slider_ing img {
	border-radius: 15px;
}

.slider_text {
	position: absolute;
	width: 100%;
	top: 2150px;
	text-align: center;
	z-index: 30;
}

.slider_text h1 {
	font-family: 'Roboto Condensed', sans-serif;
	color: 	#47a9ee;
}

.slider_text hr {
	height: 2px;
	background: #2bb842;
}

/*___________________________________________________________wrapper_pers*/

 .wrapper_pers1 {
 	position: relative;
 	top: 500px;
 	left: 80px;
 	width: 1200px;
 	height: 350px;
 	border: 3px solid #47a9ee;
 	background:	#ffffff
 }

 .wrapper_pers1 h1 {
 	position: absolute;
 	left: 350px;
 	top: 30px;
 	font-family: 'Roboto Condensed', sans-serif;
 	font-size: 25px;
 	color: #47a9ee;
 }

 .wrapper_pers1 p {
 	position: absolute;
 	left: 350px;
 	top: 90px;
 	font-family: 'Roboto Condensed', sans-serif;
 	font-size: 25px;
 	color: #2bb842;
 }

 .photo_naem1 {
 	position: absolute;
 	left: 30px;
 	top: 30px;
 	width: 250px;
 	height: 250px;
 	border-radius: 13px;
 	border: 1px solid #2bb842;
 }

 .photo_naem1 img {
 	width: 250px;
 	height: 250px;
 	border-radius: 13px;
 }

 .wrapper_pers2 {
 	position: relative;
 	top: 700px;
 	left: 80px;
 	width: 1200px;
 	height: 350px;
 	border: 3px solid #47a9ee;
 	background:	#ffffff
 }

 .wrapper_pers2 h1 {
 	position: absolute;
 	left: 350px;
 	top: 30px;
 	font-family: 'Roboto Condensed', sans-serif;
 	font-size: 25px;
 	color: #47a9ee;
 }

 .wrapper_pers2 p {
 	position: absolute;
 	left: 350px;
 	top: 90px;
 	font-family: 'Roboto Condensed', sans-serif;
 	font-size: 25px;
 	color: #2bb842;
 }

 .photo_naem2 {
 	position: absolute;
 	left: 30px;
 	top: 30px;
 	width: 250px;
 	height: 250px;
 	border-radius: 13px;
 	border: 1px solid #2bb842;
 }

 .photo_naem2 img {
 	width: 250px;
 	height: 250px;
 	border-radius: 13px;
 }

 /*___________________________________________________________wrapper_serv*/

 .wrapper_serv {
 	position: relative;
 	top: 500px;
 	left: 80px;
 	width: 1200px;
 	height: 1800px;
 	border: 3px solid #47a9ee;
 	background:	#ffffff;
 }

.terap {
 	position: absolute;
 	top: 30px;
 	left: 120px;
 	width: 400px;
 	height: 500px;
 	border: 1px solid #2bb842;
 	border-radius: 13px;
 	background: #eeeeee;
 }

 .terap:hover {
 	background: #fff;
 }

.terap img {
  	position: absolute;
  	width: 220px;
  	border-radius: 8px;
  	top: 10px;
  	left: 10px;
  }

.terap h2 {
	padding: 180px 0 0 10px;
	font-family: 'Roboto Condensed', sans-serif;
	color: #47a9ee;
}

.terap p {
	font-family: 'Roboto Condensed', sans-serif;
	color: #2bb842;
	font-size: 20px;
	text-align: justify;
	padding: 30px 10px 0 10px;
}

.protez {
	position: absolute;
 	top: 30px;
 	left: 650px;
 	width: 400px;
 	height: 500px;
 	border: 1px solid #2bb842;
 	border-radius: 13px;
 	background: #eeeeee;
}

.protez:hover {
	background: #fff;
}

.protez img {
  	position: absolute;
  	width: 220px;
  	border-radius: 8px;
  	top: 10px;
  	left: 10px;
  }

.protez h2 {
	padding: 180px 0 0 10px;
	font-family: 'Roboto Condensed', sans-serif;
	color: #47a9ee;
}

.protez p {
	font-family: 'Roboto Condensed', sans-serif;
	color: #2bb842;
	font-size: 18px;
	text-align: justify;
	padding: 30px 10px 0 10px;
}

.estet {
	position: absolute;
 	top: 620px;
 	left: 120px;
 	width: 400px;
 	height: 500px;
 	border: 1px solid #2bb842;
 	border-radius: 13px;
 	background: #eeeeee;
}

.estet:hover {
	background: #fff;
}

.estet img {
  	position: absolute;
  	width: 220px;
  	height: 220px;
  	border-radius: 8px;
  	top: 10px;
  	left: 10px;
  }

.estet h2 {
	padding: 250px 0 0 10px;
	font-family: 'Roboto Condensed', sans-serif;
	color: #47a9ee;
}

.estet p {
	font-family: 'Roboto Condensed', sans-serif;
	color: #2bb842;
	text-align: justify;
	font-size: 18px;
	padding: 30px 10px 0 10px;
}

.gigiena {
	position: absolute;
 	top: 620px;
 	left: 650px;
 	width: 400px;
 	height: 500px;
 	border: 1px solid #2bb842;
 	border-radius: 13px;
 	background: #eeeeee;
}

.gigiena:hover {
	background: #fff;
}

.gigiena img {
  	position: absolute;
  	width: 220px;
  	border-radius: 8px;
  	top: 10px;
  	left: 10px;
  }

.gigiena h2 {
	padding: 180px 0 0 10px;
	font-family: 'Roboto Condensed', sans-serif;
	color: #47a9ee;
}

.gigiena p {
	font-family: 'Roboto Condensed', sans-serif;
	color: #2bb842;
	text-align: justify;
	font-size: 18px;
	padding: 30px 10px 0 10px;
}

.implant {
 	position: absolute;
 	top: 1200px;
 	left: 120px;
 	width: 400px;
 	height: 500px;
 	border: 1px solid #2bb842;
 	border-radius: 13px;
 	background: #eeeeee;
 }

 .implant:hover {
 	background: #fff;
 }

.implant img {
  	position: absolute;
  	width: 220px;
  	border-radius: 8px;
  	top: 10px;
  	left: 10px;
  }

.implant h2 {
	padding: 150px 0 0 10px;
	font-family: 'Roboto Condensed', sans-serif;
	color: #47a9ee;
}

.implant p {
	font-family: 'Roboto Condensed', sans-serif;
	color: #2bb842;
	font-size: 20px;
	padding: 10px 10px 0 10px;
}

/*________________________________________________________________________footer*/
.footer {
	position: absolute;
	width: 100%;
	height: 300px;
	top: 1400px;
	background-color: #eeeeee;	
	border-radius: 50px 50px 0 0;
}

.footer_cont {
	position: absolute;
	width: 100%;
	height: 300px;
	top: 1400px;
	background-color: #eeeeee;	
	border-radius: 50px 50px 0 0;
}

.footer_news {
	position: absolute;
	width: 100%;
	height: 300px;
	top: 2000px;
	background-color: #eeeeee;	
	border-radius: 50px 50px 0 0;
}

.footer_equi {
	position: absolute;
	width: 100%;
	height: 300px;
	top: 1800px;
	background-color: #eeeeee;	
	border-radius: 50px 50px 0 0;
}

.footer_per {
	position: absolute;
	width: 100%;
	height: 300px;
	top: 1700px;
	background-color: #eeeeee;	
	border-radius: 50px 50px 0 0;
}

.footer_price {
	position: absolute;
	width: 100%;
	height: 300px;
	top: 2000px;
	background-color: #eeeeee;	
	border-radius: 50px 50px 0 0;
}

.footer_serv {
	position: absolute;
	width: 100%;
	height: 300px;
	top: 2600px;
	background-color: #eeeeee;	
	border-radius: 50px 50px 0 0;
}

.footer_ab {
	position: absolute;
	width: 100%;
	height: 300px;
	top: 2200px;
	background-color: #eeeeee;	
	border-radius: 50px 50px 0 0;
}

.footer_ind {
	position: absolute;
	width: 100%;
	height: 300px;
	top: 2900px;
	background-color: #eeeeee;	
	border-radius: 50px 50px 0 0;
}

.fot_logo {
	position: absolute;
	width: 80px;
	height: 80px;
	top: 50px;
	left: 100px;
}

.fot_logo img {
	width: 80px;
	padding: 10px 0 0 15px;
}

.fot_logo p {
	position: absolute;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 22px;
	color: #47a9ee;
	top: 15px;
	left: 100px;
}

.fot_logo p span {
	color: #2bb842;
}

.contacts_us {
	position: absolute;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 18px;
	left: 400px;
	width: 400px;
	height: 300px;
}

.inline {
	position: absolute;
	top: 50px;
}

.call {
	position: absolute;
	top: 80px;
	left: 10px;
}

.contacts_us p {
	position: absolute;
	top: 20px;
	color: #47a9ee;
}

.contacts_us .number {
	position: absolute;
	color: #47a9ee;
	top: 70px;
	left: 100px;
}

.contacts_us .number span {
	color: #2bb842;
}

.contacts_address img {
	position: absolute;
	left: 10px;
	top: 160px;
}

.contacts_address p {
	position: absolute;
	left: 100px;
	top: 150px;
}

.contacts_address p span {
	color: #2bb842;
}

.spam {
	position: absolute;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 18px;
	left: 850px;
	width: 400px;
	height: 300px;
}

.spam p {
	position: absolute;
	top: 20px;
	color: #2bb842;
}

.spam .info_foot {
	position: absolute;
	top: 60px;
	color: #47a9ee;
}

.spam_inp {
	position: absolute;
	top: 160px;
	width: 250px;
	font-size: 13px;
	padding: 6px 0 4px 10px;
	border: 1px solid #cecece;
	background: #fff;
	color: #47a9ee;
	border-radius: 8px;
}

.spam_but {
	position: absolute;
	top: 160px;
	left: 300px;
	width: 100px;
	font-size: 13px;
	padding: 6px 0 4px 10px;
	background: #eeeeee;
	color: #2bb842;
	border-radius: 8px;
}

.spam_but:hover {
	background: #ffffff;
}

/*_____________________________________*/

.error {
    border-color: red;
}

.thank {
    display: none;
}

.modal {
	display: none;
	position: fixed;
	z-index: 9999;
    top: 100px;
    left: 400px;
    width: 400px;
    height: 200px;
}

.modal-content {
    position: relative;
	width: 500px;
    height: 400px;
    background-color: #eeeeee;
    border: 2px solid #2bb842;
    border-radius: 8px;
}

.close {
    position: absolute;
    left: 90%;
    top: 10px;
	color: #aaa;
	font-size: 28px;
	font-weight: bold;
	cursor: pointer;
}

.myBtn {
    position: fixed;
    z-index: 1000;
    top: 50%;
    left: 91%;
    width: 200px;
    height: 40px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #fff;
    font-size: 15px;
    background-color: #47a9ee;
    border-radius: 8px 8px 0 0;
    border: 3px solid #2bb842;
    -webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);

}

.myBtn:hover {
    background-color: #2bb842;
    border: 3px solid #47a9ee;
}

.name_form {
    position: absolute;
    top: 110px;
    left: 50px;
    width: 280px;
    height: 30px;
    font-size: 13px;
    padding: 6px 0 4px 10px;
    background: #fff;
    color: #47a9ee;
    border-radius: 8px;
    outline: none;
}

.phone_form {
    position: absolute;
    top: 170px;
    left: 50px;
    width: 280px;
    height: 30px;
    font-size: 13px;
    padding: 6px 0 4px 10px;
    background: #fff;
    color: #47a9ee;
    border-radius: 8px;
    outline: none;
}

.submit {
    position: absolute;
    top: 250px;
    left: 50px;
    width: 150px;
    height: 40px;
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    padding: 6px 0 4px 10px;
    background: #47a9ee;
    color: #2bb842;
    border-radius: 8px;
    outline: none;
}

.submit:hover {
    background: #2bb842;
}

.thank {
    position: absolute;
    font-family: 'Roboto Condensed', sans-serif;
    position: absolute;
    color: #47a9ee;
    top: 260px;
    left: 230px;
}

.scrollup {
	width:40px;
	height:40px;
	position:fixed;
	opacity: 0.5;
	bottom:30px;
	right:100px;
	display:none;
	z-index: 10;
	background-color: #47a9ee;
	border-radius: 25px;
	border: 3px solid #2bb842;
}

.scrollup img {
	z-index: 30px;
	padding: 3px 4px;
}


.scrollup:hover {
	background-color: #2bb842;
	border: 3px solid #47a9ee;
	opacity: 1;
}